flutter_export_environment.sh

**/Flutter/App.framework/
**/Flutter/ephemeral/
**/Flutter/Flutter.framework/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_assets/

generated_plugin_registrant.dart
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.swift
build/
.flutter-plugins
coverage
pubspec.lock
Podfile.lock
.dart_tool/extension_discovery/README.md
.dart_tool/extension_discovery/vs_code.json
.dart_tool/package_config.json
